@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

/* ||  RESET */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
textarea,
input {
  font: inherit;
}
/* -------------------------------- */

/* Utility Classes */

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 3.2rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.btn-sml {
  font-size: 2.4rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  padding: 0.6rem 1.8rem;
  cursor: pointer;
}

/* -------------------------- */

/* GENERAL STYLE  */

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", sans-serif;
  color: #5e7a7d;
  font-size: 1.6rem;
  height: 100vh;
}

/* -------------------------- */

/* ||  HEADER */

.logo {
  display: block;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 8.6rem;
}

/* --------------------------- */

/* ||   MAIN   */

main {
  margin-top: 15rem;
  padding: 3.2rem;
  background-color: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
}

/* ---------------------------- */

/* || DATA SECTION */

.bill__input,
.people__input {
  font-size: 2.4rem;
  text-align: right;
  background-color: #f3f9fa;
  color: #00474b;
  width: 100%;
  height: 4.8rem;
  padding: 0.6rem 1.8rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.bill__container,
.people__container {
  position: relative;
}

.icon {
  position: absolute;
  left: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.9rem;
  fill: #9ebbbd;
}

.error-message {
  color: red;
  font-size: 1.2rem;
  display: none;
}

.tip__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip__percent {
  background-color: #00474b;
  color: #fff;
}

.tip__custom {
  letter-spacing: -1px;
  width: 100%;
  background-color: #f3f9fa;
  color: #5e7a7d;
  text-align: right;
}

/* ------------------------------- */

/* || RESULT SECTION  */

.result {
  padding: 2.2rem;
  background-color: #00474b;
  border-radius: 1.2rem;
}

.result__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 1.3rem;
  margin-bottom: 3.2rem;
}

.tip-amount__title,
.bill-amount__title {
  color: #fff;
}

span {
  font-size: 1.3rem;
  color: #7f9d9f;
}

.tip-amount__value,
.bill-amount__value {
  font-size: 3.2rem;
  color: #26c2ae;
}

.result__cta {
  text-transform: uppercase;
  color: #00474b;
  font-size: 2rem;
  background-color: #26c2ae;
  width: 100%;
  padding: 0.9rem 3.2rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
/* ----------------------------- */

/* || MEDIA QUERY  */

@media only screen and (min-width: 500px) {
  main {
    width: 75%;
    margin-inline: auto;
  }
}

@media only screen and (min-width: 900px) {
  .logo {
    top: 6rem;
  }

  main {
    margin: 18rem auto;
    padding: 3.2rem 3.2rem 3.2rem 4.8rem;
    max-width: 92rem;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    border-radius: 1.5rem;
  }

  .tip__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .result__container {
    margin-bottom: 14.5rem;
  }
}

/* -------------------------------*/

/* || JS Classes */

.selected {
  background-color: #26c2ae;
  color: #00474b;
}

.active {
  outline: 2px solid #26c2ae;
}

.error {
  outline: 2px solid red;
}

.display {
  display: block;
}
